.card{
    background-color:#B9EAE9   ;
    margin:  50px 0 50px 100px;
    width: 400px;
    height: 270px;
    border-radius:12px ;
}


.confirmed{
    color: #F8AB11 ;
    
    margin: 20px 0;
    border-radius:12px ;
}

.active{
    color: #F82611 ;
    margin: 20px 0;
    border-radius:12px ;

}

.deaths{
    margin: 10px 0;
    border-radius:12px ;

}

.recovered{
    margin: 10px 0;
    color: #73C003 ;
    border-radius:12px ;
}